<!DOCTYPE html>
<html>
<head>
  <title>YashBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/header' %>

  <div id="main">
  <% if current_user %>
  <div id="sign-in">
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  </div>
  <div class="menu_bar">
    <%= link_to 'Posts', posts_path, class: "menu_item"%>
    <%= link_to 'Categories', categories_path, class: "menu_item" %>
  </div>
	<%= yield %>
  <% else %>
    <%= link_to image_tag("facebook_login_button.png"), '/auth/facebook', id: "sign_in" %>
  <% end %>
</div>
  <%= render :partial => 'layouts/footer' %>
</body>
</html>
